* {
  padding: 5px;
  margin: 0;
  box-sizing: border-box;
}
/* 
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; 
} */

.stff {
  display: flex;
  justify-content: 10px;
  width: 100%;
  /* position: fixed; */
  gap: 20px;
  /* border: solid 1px black; */
  /* border-radius: 40px; */
  text-align: center;
  color:white; 
  background-color: rgb(15, 172, 15);
}

.stff a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

main{
  background-color: white;
  width: 100%;
}


.grid-container {
  display: grid; 
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-rows: repeat(2, 1fr);
  /* height: 100vh;  */
}

.grid-item {
  position: relative;
  overflow: hidden;
}

.grid-item img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  /* margin-top: 50px; */
} 
.hamoud {
  border: solid 1px black;
  border-radius: 25px;
  /* margin-top: 10px; */
}

.hamoud p{
  color: #000;
}

.hamoud1{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: small;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

h3{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right:15px;
  padding-left: 15px;
  font-weight: 300;
  font-size: large;
  color: rgb(6, 65, 6);
}

h2{
  font-weight: 300;
  color: black;
  font-size: xx-large;
}

.card{
  margin-right: 0;
  margin-left: 0;
}

.card1{
  padding-left: 0;
  padding-right: 0;
}

 .flip-card {
  margin-top: 10px;
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
} 

.stff a:hover {
  background-color: #ddd;
  color: black;
} 

.stff .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .stff a:not(:first-child) {display: none;}
  .stff a.icon {
      float: right;
      display: block;
  }
}

@media screen and (max-width: 600px) {
  .stff.responsive {position: relative;}
  .stff.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
  }
  .stff.responsive a {
      float: none;
      display: block;
      text-align: left;
  }
} 

/* .slideshow-container {
  background-size: cover;
  width: auto;
  position: relative;
  margin-top:45px;
}

.mySlidesfade{
  background-size: cover;
 }
.mySlides {
    display: none;
}
img {
    vertical-align: middle;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
} */

.mouse{
  font-size: 40px;
  font-weight: 700;
  color: #000;
} 